{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}

{% extends 'layouts/application.html' %} {% block content %} {% include "./shared/hero.html" %}
{% include "./shared/menu.html" %}


<div class="o-wrapper">
  <div class="o-layout">
    <div class="o-layout__item">





      {% include "./shared/header.html" %}

      <br> {% include "./shared/share.html" %}
      <br> {% include "./shared/accordion.html" %}

    </div>
  </div>
</div>

{% include "./shared/footer.html" %} {% endblock %}