{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %} {% block content %}
<div class="o-wrapper">
  <div class="o-layout">
    <div class="o-layout__item">
      <h1 data-module="example">{{ message }}</h1>
      <h2 data-module="example">{{ message }}</h2>
      <h3 data-module="example">{{ message }}</h3>
      <p data-module="example">{{ message }}</p>

      <div style="background-color:#4a4a4a; padding:10px; height:auto">
        <button class="c-btn  c-btn--primary">Register</button>
        <button class="c-btn  c-btn--icon  c-btn--icon-huge  c-btn--icon_darkbg">{{sprite("play")}}</button>

        <div class="c-watch">
          <button class="c-watch--btn  c-btn  c-btn--icon  c-btn--icon-small  c-btn--icon_darkbg">{{sprite("play")}}
            <span class="c-watch--text">watch the video</span>
          </button>
        </div>
      </div>

      <div style="background-color:#fbfbfb; padding:10px; height:auto">
        <button class="c-btn  c-btn--secondary">Register</button>
        <button class="c-btn  c-btn--icon  c-btn--icon-huge  c-btn--icon_lightbg">{{sprite("play")}}</button>


        <div class="c-share">
          <button class="c-share--items  c-btn  c-btn--icon c-btn--icon-large  c-btn--icon_lightbg">{{sprite("facebook")}}</button>
          <button class="c-share--items  c-btn  c-btn--icon c-btn--icon-large  c-btn--icon_lightbg">{{sprite("twitter")}}</button>
          <button class="c-share--items  c-btn  c-btn--icon c-btn--icon-large  c-btn--icon_lightbg">{{sprite("instagram")}}</button>
        </div>

      </div>

    </div>
  </div>


</div>

{% endblock %}