{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}

{% extends 'layouts/application.html' %}

{% block content %}

{% include "./shared/menu.html" %}
{% include "./shared/header.html"%}
{% include "./shared/hero.html" %}
{% include "./shared/introduction.html" %}
{% include "./shared/feature.html" %}
{% include "./shared/register.html" %}
{% include "./shared/video.html" %}
{% include "./shared/swiper.html" %}
{% include "./shared/signup.html" %}
{% include "./shared/footer.html" %}

{% endblock %}


