.c-intro {
  background-color: $wild-sand;
  background-image: url("../images/introduction.png");
  background-repeat: no-repeat;
  background-position: left 110%;
  background-size: 220% 75%;
  padding: 64px 0 220px 0;
  @include mq ($from: tablet) {
    padding: 95px 0 425px 0;
    background-position: center;
    background-size:cover;
  }
}

.c-intro__text {
  margin-left:$inuit-global-spacing-unit-small;
  position: relative;
  &::before {
    content: "";
    height: 60px;
    width: 2px;
    background-color: $celery;
    position: absolute;
    top: 0;
    left: -13px;
    @include mq ($from: tablet) {
      left: -86px;
    }
  }
  
}

.c-intro__text p {
  @include mq ($from: tablet) {
    font-size: 14px;
  }
}

.c-intro__list_items {
  @include inuit-font-size($font-size-p,$line-height-p);
  color: $tundora;
  font-weight: 600;
  &::before {
    content: "- ";
  }
  @include mq ($from: tablet) {
    font-size: 14px;
  }
}
