.c-watch {
  display: inline-block;
  background-color: transparent;
  padding: $inuit-global-spacing-unit-tiny 0;
}

.c-watch--btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.c-watch--text {
  margin-left: 10px;
}
