.c-menu {
  z-index: 10;
  display: block;
  position:fixed;
  left:-100%;
  top: 0;
  bottom:0;
  width: 100%;
  background-color: $black;
  padding: $inuit-global-spacing-unit-large $inuit-global-spacing-unit;
  transition:all 0.5s; 
  &.is-open {
    left:0;
  }
}

.c-menu__header {
  display: flex;
  justify-content: space-between;
}

.c-menu__nav {
  margin-top: $inuit-global-spacing-unit-large;
}

.c-menu__nav-items {
  position: relative;
  padding-top: $inuit-global-spacing-unit-small;
  padding-bottom: $inuit-global-spacing-unit-small;
  > a {
    color: $white;
    text-decoration: none;
    @include inuit-font-size($font-size-p,$line-height-p);
    &:hover,
    &:focus {
      color: $celery;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: $white;
    opacity: 0.2;
    width: 80%;
    left: 0;
    bottom: 0;
  }
}
