.c-hero {
  background-color: $tundora;
  background-image: url("../images/hero-desktop.png");
  background-repeat: no-repeat;
  // background-size:450%;
  background-size: cover;
  background-position: 65% 300%;
  padding: 48px 0 400px 0;
  @include mq($from:tablet) {
    padding: 72px 0 265px 0;
    background-size: cover;
    background-position: center;
  }
}

.c-hero__text {
  padding: 128px 21px 0 12px;
  color: $white;
  @include mq($from:tablet) {
    padding: 165px 0 0 0;
  }
}
