.c-footer--bottom {
  margin-top: $inuit-global-spacing-unit-tiny;
  background-color: $celery;

  @include mq ($from: tablet) {
    margin-top: $inuit-global-spacing-unit-huge;
  }
}

.c-footer--bottom_item {
  font-size: 10px;
  margin-right: $inuit-global-spacing-unit;
  padding: 12px 0;
  @include mq($from:tablet) {
    @include inuit-font-size($font-size-p,$line-height-p);
  }
  > a {
    text-decoration: none;
    color: $white;
  }
}
