.c-header {
  z-index: 15;
  position: fixed;
  background-color: $white;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;

  &.is-transparent {
    background-color: transparent;
    .c-header__icon {
      fill: $white;
    }

    .c-header__logo {
      svg {
        fill: $white;

        &:hover,
        &:focus {
          fill: $celery;
        }
      }
    }

    .c-header__nav {
      color: $white;
    }

    .c-header__btn {
      background-color: $celery;
      color: $alabaster;
      &:hover,
      &:focus {
        background-color: $alabaster;
        color: $tundora;
      }
    }
  }

  &.is-scroll {
    transform: translateY(-100%);
  }

  &.is-locked {
    transform: translateY(-100%);
  }
}

.c-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  @include mq($from:tablet) {
    justify-content: flex-end;
  }
}

.c-header__logo {
  cursor: pointer;
  &:hover,
  &:focus {
    svg {
      fill: $celery;
    }
  }

  @include mq($from:tablet) {
    margin-right: auto;
    flex: 0;
  }
}

.c-header__icon {
  fill: $tundora;
  padding: 0;
  @include mq($from:tablet) {
    display: none;
  }
}

.c-header__btn {
  margin: 15px 0;
}

.c-header__nav {
  display: none;
  color: $tundora;
  margin: 0;
  @include mq($from:tablet) {
    display: inline-block;
  }
  > ul {
    margin-bottom: 0;
  }
}

.c-header__nav-items {
  margin-right: $inuit-global-spacing-unit-large;
  > a {
    text-decoration: none;
    color: inherit;
    @include inuit-font-size($font-size-p,$line-height-p);
    &:hover,
    &:focus {
      color: $celery;
    }

    &:active {
      text-decoration: underline;
      color: inherit;
    }
  }
}
