.c-accordion {
  position:relative;
  padding-top:43px;
  @include mq ($from:tablet){
    padding-top:57px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: $alto;
    width: 100%;
    left: 0;
    top: 24px;
    @include mq ($from:tablet){
      top:29px;
    }
  }
}
  
.c-accordion__wrapper {
  transition:max-height 0.5s;
  overflow:hidden;
  max-height:34px;
  &.is-collapsed{
    max-height:130px;
  }
  @include mq($from:tablet){
    max-height:130px !important;
  }
}

.c-accordion__header {
  display: flex;
  width: 120px;
  color: $tundora;
  align-items: center;
}

.c-accordion__icon {
  margin-left: auto;
  @include mq ($from: tablet) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $celery;
  }
}

.c-accordion__list {
  margin-left: $inuit-global-spacing-unit;
  a {
    text-decoration: none;
    color: $celery;
    @include inuit-font-size($font-size-p,$line-height-p);
    &:hover,
    &:focus{
      text-decoration: underline;
    }
  }
  &.is-collapsed {
    display: none;
  }
  @include mq ($from: tablet) {
    margin-left: 0;
    display: block !important;
  }
}
