.c-share {
  display: flex;
  position: relative;
  @include inuit-font-size($font-size-p,$line-height-p);
}

.c-share__items {
  padding: 0;
  margin-right: 24px;
  align-self: center;
  svg {
    @include mq ($from: tablet) {
      width: $icon-size-medium;
      height: $icon-size-medium;
    }
  }
}
