.c-accordion {
}

.c-accordion__header {
  display: flex;
  width: 120px;
  color: $tundora;
  align-items: center;
}

.c-accordion__icon {
  margin-left: auto;
  @include mq ($from: tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $celery;
  }
}

.c-accordion__list {
  margin-left: $inuit-global-spacing-unit;

  &.is-collapsed {
    display: none;
  }

  @include mq ($from: tablet) {
    margin-left: 0;
    display: block !important;
  }
}

.c-accordion__panel_text {
  color: $celery;
  @include inuit-font-size($font-size-p,$line-height-p);
}
