.c-accordion {
}

.c-accordion__heading {
  display: flex;
  align-items: flex-start;
  width: 140px;
}

.c-accordion__icon {
  margin-left: auto;
  &:hover,
  &:focus {
    fill: $celery;
  }
}

.c-accordion__panel {
}

.c-accordion__panel_list {
  margin-left: $inuit-global-spacing-unit;
}

.c-accordion__panel_text {
  color: $celery;
}
