.c-video {
  background-image: url("../images/video-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 350px;
  justify-content: center;

  @include mq ($from: tablet) {
    background-image: url("../images/video-desktop.png");
    height: 600px;
  }
}

.c-video__btn {
  vertical-align: center;
}

.c-video__video {
  display: none;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  width: 100%;

  &.is-playing {
    display: block;
    opacity: 1;
  }
}
