.c-popup {
  z-index: 20;
  background-color: $tundora;
  padding: 33px 0 33px 0;
}

.c-popup__wrapper {
  background-color: $white;
  box-shadow: 0 0 4px $ebony-clay;
  padding: 40px 25% 62px 25%;
}
