$black: #000;
$white: #fff;

// Based off styleguide
$honest-fox: #ef5737;
$celery: #9fbd50;
$alto: #d8d8d8;
$tundora: #4a4a4a;
$alabaster: #fbfbfb;

// ==========================================================================||
//  Colors included in $colors map will be used in utilities
// ==========================================================================||

$colors: ("honest-fox": $honest-fox);
