$black: #000;
$white: #fff;

// Based off styleguide
$honest-fox: #ef5737;
$celery: #9fbd50;
$alto: #d8d8d8;
$tundora: #4a4a4a;
$alabaster: #fbfbfb;
$athens-gray: #f3f3f5;
$wild-sand: #f5f5f5;
$ebony-clay: #212b36;

// ==========================================================================||
//  Colors included in $colors map will be used in utilities
// ==========================================================================||

$colors: ("honest-fox": $honest-fox);
